[Unit]
Description=EZStream NOAA
After=icecast2.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/ezstream -c /home/scott/sjm_noaa_stream/ezstream.xml

[Install]
WantedBy=multi-user.target

