[Unit]
Description=EZStream NOAA
After=icecast2.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
EnvironmentFile=/home/scott/noaa_stream/.env
WorkingDirectory=/home/scott/noaa_stream
ExecStart=/usr/bin/ezstream -c ${NOAA_HOME}/ezstream.xml

[Install]
WantedBy=multi-user.target

